@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;

}

/* Estilização - Cabeçalho */

header{
    position: relative;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .titleOne{
    color: #D6000D;
    font-weight: bold;
    margin: 1.5% 2%; 
    font-style: italic;
}

header nav{
    position: absolute;
    width: auto;
    display:flex;
    flex-direction: row;
    right: 0;
    margin: 0.7% 2%; 
}
header nav ul{
    list-style-type: none;
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    margin: 8px;
    width: 5vw;
    height: 5vh;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 450;
}
header nav ul #login{
    background: #D6000D;
    color: #fff;
    width: 110px;
    height: 20px;
    border-radius: 8px;
    transition: all .5s;
    cursor: pointer;
}

/* Estilização - Primeira Section */

main {
    position: relative;
    width: 100vw;
    height: 240vh;
}

main .firstSection{
    margin: 3% 0;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .firstSection .image{
    width: auto;
    height: auto;
    margin: 10px 50px;
}
main .firstSection #firstImage{
    width: 400px;
    height: auto;
}

main .firstSection .content{
    position: relative;
    margin: 52px 0 0 30px;
    height: 140px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
main .firstSection .content p{
    font-size: 15pt;
    font-weight: bold;
}
main .firstSection .content h1{
    font-size: 35pt;
    color: #D6000D;
}
main .firstSection .content button{
    position: absolute;
    width: 245px;
    height: 42px;
    top: 160px;
    background: #D6000D;
    color: #fff;
    border-radius: 8px;
    border: 0;
    font-size: 14.5pt;
    font-weight: 500;
    transition: all .5s;
    cursor: pointer;
}
main .firstSection .content button:hover{
    background: #8f000a;
    text-decoration: underline;
    transform: scale(1.05);
}
#login:hover{
    background: #8f000a;
    text-decoration: underline;
    transform: scale(1.05);
}

/* Estilização - Segunda Section */

main .secondSection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .secondSection .contentSecond{
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 0;
    height: 375px;
    justify-content: center;
}

main .secondSection ul{
    list-style-type: none;
}

main .secondSection ul li{
    font-size: 17.5pt;
    margin: 8px;
}
main .secondSection .red-checked{
    color: #D6000D;
    margin: 0 30px;
}

main .secondSection .contentSecond p{
    margin: 15% 0 0 10%;
    font-weight: bold;
    font-size: 14pt;
}
main .secondSection .contentSecond form{
    position: relative;
    margin: 4% 0 0 10%;
    display: flex;
    width: 450px;

}
main .secondSection .contentSecond form input{
    width: 195px;
    height: 30px;
    margin: 0 2% 0 0;
    padding: 10px 13px;
    background: rgb(223, 223, 223);
    border: 0;
    border-radius: 8px;
    font-size: 12pt;
}
main .secondSection .contentSecond form button{
    position: absolute;
    border: 0;
    border-radius: 8px;
    font-size: 12pt;
    padding: 10px 13px;
    width: 195px;
    right: 0;
    height: 50px;
    margin: 0 3% 0 0;
    background: #D6000D;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}

main .secondSection .contentSecond form button:hover{
    background: #8f000a;
    text-decoration: underline;
    transform: scale(1.05);
}


.imageTwo{
    width: auto;
    height: auto;
    margin: -5% 50px 10px;
    position: relative;
}

main .secondSection #secondImage{
    width: 400px;
    height: auto;
    
}

/* Estilização - Terceira seção */
main .thirdSection{
    width: 100vw;
    height: auto;
    margin: 8% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
main .thirdSection .profile{
    margin: 3% 0 0 0;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #D6000D;
    border-radius: 100%;
}
main .thirdSection .comments{
    position: relative;
    padding: 20px;
    margin: 50px;
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: row;
    background: #d8d8d8;
    border-radius: 8px;
}

main .thirdSection .informationDetails{
    margin: 0 0 0 25%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .thirdSection .informationDetails p{
    font-size: 10.5pt;
}
main .thirdSection .informationDetails h2{
    font-weight: 500;
    margin: 2% 0 0 0;
}